@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --very-dark-navy: #0B0D17;
    --light-blue: #D0D6F9;
    --white: #FFFFFF;

    /* Font Size */
    --heading-xl-size: 144px;
    --heading-l-size: 100px;
    --heading-m-size: 56px;
    --heading-s-size: 32px;
    --heading-xs-size: 28px;
    --subheading-l-size: 28px;
    --subheading-s-size: 14px;
    --nav-text-size: 20px;
    --body-text-size: 18px;

    /*Fonts*/
    --heading-font: "Bellefair";
    --heading-xs-font: "Barlow Condensed";
    --body-font: "Barlow";

}

/* Body's */
    /* Home Page */
        #home-page {
            font-size: var(--body-text-size);
            font-family: var(--body-font);
            background-image: url('/assets/home/background-home-desktop.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            .nav-item:nth-child(1) {
                border-bottom: 3px solid white;

            }
        }

    /* Destination Page */
        #destination-page {
            font-size: var(--body-text-size);
            font-family: var(--body-font);
            background-image: url('/assets/destination/background-destination-desktop.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            .nav-item:nth-child(2) {
                border-bottom: 3px solid white;

            }
        }

    /* Crew Page */
        #crew-page {
            font-size: var(--body-text-size);
            font-family: var(--body-font);
            background-image: url('/assets/crew/background-crew-desktop.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            .nav-item:nth-child(3) {
                border-bottom: 3px solid white;
            }
        }

    /* Tech Page */
        #technology-page {
            font-size: var(--body-text-size);
            font-family: var(--body-font);
            background-image: url('/assets/technology/background-technology-desktop.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            .nav-item:nth-child(4) {
                border-bottom: 3px solid white;

            }
        }

/* Header */
    .main-header {
        padding: 0px;
    }

/* Hr Line */
    .solid {
        border: 1.6px solid #ffffff2c;
        width: 100%;
        border-radius: 1%;
        margin-top: 12px;
    }

/* Navbar */
    .main-navbar {
        display: flex;
        padding: 35px;
        align-items: center;
        justify-content: space-between;
    }

    .nav-items {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: center;
        width: 40%;
        padding: 30px;
        gap: 12px;
        background-color: #ffffff0e;
        backdrop-filter: blur(8px);
    }

    .nav-item {
        margin-right: 20px;
        padding: 4px;
        transition: 0.2s ease-in;
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;

    }

    .nav-item:hover {
        border-bottom: 3px solid rgba(214, 214, 214, 0.63);

    }


    .nav-item a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        gap: 12px;
        text-decoration: underline;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.788);
        font-weight: 400;
        font-family: var(--heading-xs-font);
    }

    .nav-item a span {
        font-size: var(--nav-text-size);
    }

    .nav-item span {
        font-weight: 600;
        color: var(--white);
    }


/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.logo-line {
    margin-left: 30px;
    position: absolute;
    z-index: 1;
    left: 130px;
    height: 2px;
    width: 53%;
    background-color: #ffffff2c;
}


/* Main Banner */
.container-banner {
    display: flex;
    margin-top: 9rem;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
}

.banner-main-title {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
}

.banner-main-title p {
    font-family: var(--body-font);
    font-size: var(--body-text-size);
    word-spacing: 4px;
    color: var(--light-blue);
}

.banner-main-title h5 {
    font-family: var(--heading);
    font-size: var(--heading-xs-size);
    letter-spacing: 2px;
    color: var(--light-blue);
}

.banner-main-title h1 {
    font-family: var(--heading-xs-font-font);
    font-size: var(--heading-xl-size);
    color: var(--white);
}

.banner-start-btn a {
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: var(--heading-s-size);
    padding: 100px 50px 100px 50px;
    transition: 0.3s linear;
    border-radius: 900px;
    color: black;
    background-color: var(--white);
}

.banner-start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s linear;
    border: 120px solid transparent;
    border-radius: 2000px;
}

.banner-start-btn:hover {
    border-color: rgba(83, 83, 83, 0.740);
}

/* Container For Page */
    .container-page {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 150px;
        justify-content: center;
        flex-direction: column;
    }



    .container-title h1 {
        font-family: var(--heading-xs-font);
        color: var(--white);
        font-weight: 300;
        font-size: var(--heading-s-size);
        display: flex;
        align-items: center;
        letter-spacing: 2.4px;
        justify-content: center;
        gap: 12px;
    }

    .container-title h1>span {
        color: rgb(90, 90, 90);
        font-family: var(--heading-xs-font);
        font-weight: 700;
        font-size: var(--heading-s-size);
    }


/* Destination Page */
    .container-page {
        display: flex;
        margin-left: 25rem;
        align-items: flex-start;
        gap: 5rem;
        flex-direction: column;
        justify-content: center;
    }

    .container-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;

    }

    .container-detail-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    .destination-lists-items {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        gap: 2.5rem;
    }

    .destination-list-item a {
        color: var(--light-blue);
        font-family: var();
        text-decoration: none;
        padding: 3.3px;
        transition: 0.2s linear;
        border-bottom: 3px solid transparent;

    }

    .destination-list-item a:hover {
        border-color: var(--white);
        color: var(--white);
        transition: 0.3s linear;

    }

    .destination-list-item.selected a {
        border-bottom: 3px solid var(--light-blue);
        color: var(--white);
    }

    .destination-title, .destination-description {
        margin-top: 10px;
    }

    .destination-title h1 {
        color: var(--white);
        font-family: var(--heading-font);
        font-size: var(--heading-l-size);
    }

    .destination-description > p {
        color: var(--light-blue);
        word-spacing: 5px;
    }

    .destination-distance-info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 8rem;
    }

    .destination-avg-distance > p, .destination-est-time > p {

        font-family: var(--heading-xs-font);
        font-weight: 200;
        font-size: 20px;
        color: var(--light-blue);
        word-spacing: 1.3px;

        
    }

    .destination-avg-distance > h4, .destination-est-time > h4{
        font-family: var(--heading-font);
        font-weight: 300;
        font-size: var(--heading-s-size);
        color: var(--white);
    }

    .container-destination {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }